.form-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 65px;
    box-shadow: 0 0 6px rgba($main-color, .3);
    border-radius: 5px;
    //border: 1px solid $bg-secundary;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        padding: 25px;
    }
    @media screen and (min-width: 768px) {
        padding: 25px 55px;
    }


    &__label{
        font-size: 2rem;
        font-weight: 700;
        color: $light-main;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &__wrap {
        display: flex;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        //@media screen and (min-width: 768px) {
        //    width: calc(100% - 240px);
        //}
    }

    &__select,
    &__input {
        display: inline-block;
        padding: 12px 15px;
        color: #717171;
    }

    &__select {
      border-radius: 5px;
      border: 1px solid $bg-secundary;
    }

    &__input {
      width: calc(100% - 55px);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        background-color: $main-color;
        color: $light-main;
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__svg {
        width: 27px;
    }
}
